<!-- views.html -->
<body>
  <table>
    <tr>
      <td>
        <div
          class="pano1"
          style="
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 300px;
          "
        ></div>
      </td>
      <td>
        <div
          class="pano2"
          style="
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 300px;
          "
        ></div>
      </td>
    </tr>
    <tr>
      <td>
        <div
          style="
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 283px;
          "
        >
          <img
            style="width: 400px; height: 283px"
            src="/assets/img/pano1-1_stitch2.jpg"
            alt="Panorama 360° de l'intérieur de l'Auditorium des Champs Libres"
          />
        </div>
      </td>
      <td>
        <div
          id="gltf"
          style="
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 300px;
          "
        ></div>
      </td>
    </tr>
  </table>
  <script src="/assets/js/panolens.min.js"></script>
  <script src="/assets/js/pano.js"></script>
  <script src="/assets/js/views-script.js" type="module"></script>
</body>
